@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/*@font-face {*/
/*  font-family: 'Baskerville';*/
/*  src: url('../public/fonts/BaskervilleLight.woff2') format('woff2'),*/
/*  url('../public/fonts/BaskervilleLight.woff') format('woff'),*/
/*  url('../public/fonts/BaskervilleLight.ttf') format('truetype');*/
/*  font-weight: 300;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

@font-face {
  font-family: 'Baskerville';
  src: url('../public/fonts/BaskervillePosterPT-Regular.woff2') format('woff2'),
  url('../public/fonts/BaskervillePosterPT-Regular.woff2') format('woff2'),
  url('../public/fonts/BaskervillePosterPT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../public/fonts/BaskervillePosterPT_Italic.woff2') format('woff2'),
  url('../public/fonts/BaskervillePosterPT_Italic.woff2') format('woff2'),
  url('../public/fonts/BaskervillePosterPT_Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/*@font-face {*/
/*  font-family: 'Baskerville';*/
/*  src: url('../public/fonts/BaskervilleBold.woff2') format('woff2'),*/
/*  url('../public/fonts/BaskervilleBold.woff') format('woff'),*/
/*  url('../public/fonts/BaskervilleBold.ttf') format('truetype');*/
/*  font-weight: bold;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Baskerville';*/
/*  src: url('../public/fonts/BaskervilleBold_1.woff2') format('woff2'),*/
/*  url('../public/fonts/BaskervilleBold_1.woff') format('woff'),*/
/*  url('../public/fonts/BaskervilleBold_1.ttf') format('truetype');*/
/*  font-weight: bold;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Baskerville';*/
/*  src: url('../public/fonts/Baskerville.woff2') format('woff2'),*/
/*  url('../public/fonts/Baskerville.woff') format('woff'),*/
/*  url('../public/fonts/Baskerville.ttf') format('truetype');*/
/*  font-weight: 100;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Baskerville';*/
/*  src: url('../public/fonts/Baskerville-LightA.woff2') format('woff2'),*/
/*  url('../public/fonts/Baskerville-LightA.woff') format('woff'),*/
/*  url('../public/fonts/Baskerville-LightA.ttf') format('truetype');*/
/*  font-weight: 300;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Baskerville BT';*/
/*  src: url('../public/fonts/BaskervilleBT-BoldItalic.woff2') format('woff2'),*/
/*  url('../public/fonts/BaskervilleBT-BoldItalic.woff') format('woff'),*/
/*  url('../public/fonts/BaskervilleBT-BoldItalic.ttf') format('truetype');*/
/*  font-weight: bold;*/
/*  font-style: italic;*/
/*  font-display: swap;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Baskerville BT';*/
/*  src: url('../public/fonts/BaskervilleBT-Bold.woff2') format('woff2'),*/
/*  url('../public/fonts/BaskervilleBT-Bold.woff') format('woff'),*/
/*  url('../public/fonts/BaskervilleBT-Bold.ttf') format('truetype');*/
/*  font-weight: bold;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Baskerville BT';*/
/*  src: url('../public/fonts/BaskervilleBT-Bold_1.woff2') format('woff2'),*/
/*  url('../public/fonts/BaskervilleBT-Bold_1.woff') format('woff'),*/
/*  url('../public/fonts/BaskervilleBT-Bold_1.ttf') format('truetype');*/
/*  font-weight: bold;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Baskerville BT';*/
/*  src: url('../public/fonts/BaskervilleBT-Italic.woff2') format('woff2'),*/
/*  url('../public/fonts/BaskervilleBT-Italic.woff') format('woff'),*/
/*  url('../public/fonts/BaskervilleBT-Italic.ttf') format('truetype');*/
/*  font-weight: normal;*/
/*  font-style: italic;*/
/*  font-display: swap;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Baskerville';*/
/*  src: url('../public/fonts/BaskervilleLight-Italic.woff2') format('woff2'),*/
/*  url('../public/fonts/BaskervilleLight-Italic.woff') format('woff'),*/
/*  url('../public/fonts/BaskervilleLight-Italic.ttf') format('truetype');*/
/*  font-weight: 300;*/
/*  font-style: italic;*/
/*  font-display: swap;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Baskerville BT';*/
/*  src: url('../public/fonts/BaskervilleBT-Roman.woff2') format('woff2'),*/
/*  url('../public/fonts/BaskervilleBT-Roman.woff') format('woff'),*/
/*  url('../public/fonts/BaskervilleBT-Roman.ttf') format('truetype');*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Baskerville';*/
/*  src: url('../public/fonts/Baskerville-Normal.woff2') format('woff2'),*/
/*  url('../public/fonts/Baskerville-Normal.woff') format('woff'),*/
/*  url('../public/fonts/Baskerville-Normal.ttf') format('truetype');*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/



@font-face {
  font-family: 'Sage';
  font-weight: 400;
  src: local('Sage'), url('../public/fonts/sage-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Sage';
  font-weight: 400;
  src: local('Sage'), url('../public/fonts/sage-webfont.woff') format('woff');
}

.font-sage {
  font-family: sage, serif;
}

/* Write your own custom component styles here */
button:focus {
  outline: none;
}

html, body {
  overflow-x: hidden
}

.max-w-container {
  max-width: 80rem;
}

.tracking-max {
  letter-spacing: .63rem;
}

.shadow-section {
  box-shadow: 0 20px 30px #0000005A;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes outAnimation {
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.underline-anim::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  transition: all 300ms;
}

.underline-anim:hover::after {
  width: 100%;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: scale(-1);
}


/* Start purging... */
@tailwind utilities;
/* Stop purging. */




/* Your own custom utilities */
