@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

@font-face {
  font-family: 'Futura';
  font-weight: 400;
  src: local('Futura'), url('../public/fonts/Futura-Med.otf') format('otf');
}

@font-face {
  font-family: 'Futura';
  font-weight: 400;
  src: local('Futura'), url('../public/fonts/Futura-Med.ttf') format('ttf');
}

@font-face {
  font-family: 'Sage';
  font-weight: 400;
  src: local('Sage'), url('../public/fonts/sage-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Sage';
  font-weight: 400;
  src: local('Sage'), url('../public/fonts/sage-webfont.woff') format('woff');
}

.font-sage {
  font-family: sage, serif;
}

.font-alegreya {
  font-family: alegreya, serif;
}

/* Write your own custom component styles here */
button:focus {
  outline: none;
}

html, body {
  overflow-x: hidden
}

@keyframes inAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes outAnimation {
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.underline-anim::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  background: #000;
  bottom: 0;
  left: 0;
  transition: all 300ms;
}

.underline-anim:hover::after {
  width: 100%;
}


/* Start purging... */
@tailwind utilities;
/* Stop purging. */




/* Your own custom utilities */
